// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  primary: (
    100: hsl(55, 99%, 50%),
    200: hsl(55, 99%, 43%),
    300: hsl(55, 99%, 36%),
    400: hsl(55, 99%, 29%),
    500: hsl(55, 99%, 22%),
  ),
  cy-blue: (
    100: hsl(195, 74%, 50%),
    200: hsl(195, 74%, 43%),
    300: hsl(195, 74%, 36%),
    400: hsl(195, 74%, 26%),
    500: hsl(195, 74%, 22%),
  ),
  secondary: (
    100: hsl(174, 55%, 50%),
    200: hsl(174, 55%, 43%),
    300: hsl(174, 55%, 36%),
    400: hsl(174, 55%, 26%),
    500: hsl(174, 55%, 22%),
  ),
  cyb-red: (
    100: hsl(0, 100%, 22%),
    200: hsl(0, 100%, 15%),
    300: hsl(0, 100%, 8%),
  ),
  cyb-lilac: (
    100: hsl(260, 60%, 65%),
    200: hsl(260, 60%, 58%),
    300: hsl(260, 60%, 51%),
    400: hsl(260, 60%, 44%),
    500: hsl(260, 60%, 37%),
  ),
  cyb-pink: (
    100: hsl(323, 73%, 61%),
    200: hsl(323, 73%, 54%),
    300: hsl(323, 73%, 47%),
    400: hsl(323, 73%, 40%),
    500: hsl(323, 73%, 33%),
  ),
  cyb-fuchsia: (
    100: hsl(300, 75%, 46%),
    200: hsl(300, 75%, 39%),
    300: hsl(300, 75%, 32%),
    400: hsl(300, 75%, 25%),
    500: hsl(300, 75%, 18%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);

/*Cyberpunk 2077 Color Palette*/
/*
#00060e	rgb(0,6,14) hsl(214, 100%, 3%)
#9a9f17	rgb(154,159,23) hsl(62, 75%, 36%)
#fee801	rgb(254,232,1) 	hsl(55, 99%, 50%)
#54c1e6	rgb(84,193,230) hsl(195, 74%, 62%)
#39c4b6	rgb(57,196,182) hsl(174, 55%, 50%) 
#710000 rgb(113, 0, 0)  hsl(0, 100%, 22%)
#9370db rgb(174, 112, 219) hsl(260, 60%, 65%)
#e455ae rgb(228, 83, 172) hsl(323, 73%, 61%)
#cd1dcd rgb(209, 29, 205 ) hsl(300, 75%, 46%)*/
