---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <!--Cursos básicos -->
      <h2 class="mb-16 text-6xl">Cursos Básicos</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:language-html5" title="HTML Básico">
          Aprende a crear páginas web con HTML, el lenguaje fundamental de la web. Este curso te enseñará los
          fundamentos de HTML5, la última versión del lenguaje.
        </Feature>
        <Feature icon="mdi:language-css3" title="CSS Básico">
          Aprende a dar estilo a tus páginas web con CSS, el lenguaje que controla la apariencia de los elementos HTML.
          Este curso te enseñará los fundamentos de CSS3, la última versión del lenguaje. <a
            href="/cursoBasicoCSS"
            target="_blank">Accede al curso</a
          >
        </Feature>
        <Feature icon="mdi:arm-flex-outline" title="Flexbox">
          En este curso aprenderás los fundamentos de Flexbox, desde cómo estructurar y organizar elementos en el diseño
          flexible hasta cómo alinear y distribuir espacios entre ellos de manera eficiente.
        </Feature>
        <Feature icon="mdi:grid" title="CSS Grid">
          En este curso, aprenderás una de las tecnologías más poderosas y flexibles para diseñar páginas web: CSS Grid.
          El sistema de diseño bidimensional que te permite crear diseños complejos y responsivos con facilidad.
        </Feature>
        <Feature icon="mdi:vs-code" title="VSCode + Emmet">
          En este curso, aprenderás como utilizar Emmet en Visual Studio Code para aumentar tu productividad en el
          desarrollo web.
        </Feature>
        <Feature icon="mdi:language-javascript" title="JavaScript">
          El lenguaje que impulsa la interactividad en la web, desde simples animaciones hasta complejas aplicaciones en
          tiempo real. Con JavaScript, dominarás los fundamentos y podrás construir cualquier cosa que puedas imaginar.
        </Feature>
        <!--Cursos de diseño -->
      </div>
      <h2 class="mb-16 mt-16 text-center text-6xl">Cursos de diseño</h2>
      <Feature icon="mdi:brush" title="Procreate">
        La herramienta definitiva para artistas digitales, ilustradores y diseñadores. Con sus potentes características
        y flujo de trabajo intuitivo, podrás crear obras de arte impresionantes con facilidad.
      </Feature><br />
      <Feature icon="mdi:design" title="Figma">
        Domina la herramienta de diseño UX/UI lider en la industria: Figma. Este curso te enseñará los fundamentos de
        Figma, desde la creación de interfaces hasta la colaboración en equipo.
      </Feature><br />
      <Feature icon="mdi:photo-camera" title="Photoshop">
        Domina el software de edición de imágenes más popular del mundo: Photoshop. En este curso aprenderás los
        fundamentos de Photoshop, desde la edición básica hasta las técnicas más avanzadas.
      </Feature><br />
      <Feature icon="mdi:canvas" title="Canva">
        Domina la herramienta de diseño gráfico más popular: Canva. En este curso aprenderás los fundamentos de Canva,
        desde la creación de diseños básicos hasta la edición de imágenes y videos.
      </Feature><br />
    </div>
  </section>
</DefaultLayout>
