---
import CallToAction from './CallToAction.astro'
import { link } from "@astro/elements";

const sitemapLink = link({rel: "sitemap", href: "/sitemap.xml"});

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8 text-center">
    <div class="container">
      <p>
        &copy; {currentYear} - Webpage inspired by Theme for <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/artificacial/artificacial">Öslar</a
        >.<a href={sitemapLink}>Sitemap</a>
      </p>
    </div>
  </section>
</footer>
